.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

.main-panel {
    position: relative;
    float: right;
    width: 100%;
    min-height: 100vh;
    /* border-top: 2px solid #e14eca; */
    border-top: 2px solid #1d8cf8;
    background: linear-gradient(#1e1e2f, #1e1e24);
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.main-panel>.content {
    padding: 78px 30px 30px 280px;
    min-height: calc(100vh - 70px);
}

.main-panel>.navbar {
    margin-bottom: 0;
}

.main-panel .header {
    margin-bottom: 50px;
}